---
import Badges from "./Badges.astro";
import ExternalLink from "./icons/ExternalLink.astro";

interface Props {
  stack: string[];
  title: string;
  subtitle: string;
  imgUrl: string;
  alt: string;
  url: string;
  position?: "right" | "left";
}

const {
  stack,
  title,
  subtitle,
  imgUrl,
  alt,
  position = "right",
  url,
} = Astro.props;
---

<div
  class={`flex flex-col lg:flex-row w-full pb-12 lg:pb-20 ${
    position === "left" && "lg:flex-row-reverse"
  }`}
>
  <div class="lg:hidden pb-4">
    <span class="text-accent text-sm saturate-150 font-medium pb-1"
      >{subtitle}</span
    >
    <a
      target="_blank"
      href={url}
      class="flex items-center gap-3 text-4xl font-bold hover:text-accent hover:saturate-150 cursor-pointer transition-all"
    >
      {title}
      <ExternalLink />
    </a>
  </div>

  <img
    src={imgUrl}
    alt={alt}
    class="h-full max-h-96 rounded-lg object-cover w-full max-w-xl"
  />

  <div
    class={`flex flex-col w-full ${
      position === "right" ? "lg:items-end " : "lg:items-start"
    } `}
  >
    <span
      class="hidden lg:block text-accent text-sm saturate-150 font-medium pb-1"
      >{subtitle}</span
    >
    <a
      target="_blank"
      href={url}
      class={`${
        position === "right" ? "flex-row-reverse" : "flex-row"
      } hidden lg:flex items-center gap-3 text-4xl font-bold hover:text-accent hover:saturate-150 cursor-pointer transition-all `}
    >
      {title}
      <ExternalLink />
    </a>
    <p
      class={`${
        position === "right" ? "lg:text-end lg:-ml-3" : "text-start lg:-mr-3"
      }  relative z-10 text-sm bg-secondary p-5 rounded-lg my-6`}
    >
      <slot />
    </p>

    <Badges list={stack} />
  </div>
</div>
